.vacation-item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  height: 150px;
  margin-bottom: 5px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  padding: 10px;
  transition: background-image 0.3s ease; 
}

.vacation-info {
  color: white;
}

.vacation-name {
  margin-left: 5%;
  font-size: 40px;
}

.date-range {
  margin: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.vacation-item:hover .content {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.vacation-item:hover .date-range {
  opacity: 1;
}
