.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  padding-top: 3%;
  padding-bottom: 3%;
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.friend-item:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.left-side {
  display: flex;
  align-items: center;
}

.user-photo {
  margin-right: 20px;
  margin-left: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-name {}

.right-side {
  margin-left: auto;
  margin-right: 5%;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}
